.inputField {
  position: relative;
}

.field-label {
  position: absolute;
  top: 0.5em;
  left: 3.4em;
  pointer-events: none;
  opacity: 0.7;
  transition: all 0.1s ease-out;
}

.inputField:valid + .field-label,
.inputField:focus + .field-label {
  top: -0.8em;
  left: 0.6em;
  opacity: 1;
  font-size: 0.75em;
  color: #4a5568;
}
